%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %script{:language => "javascript", :type => "text/javascript", :src => "jquery-1.5.2.min.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "jquery.flot.min.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "index.js"}
    %link{:href => "index.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %h1 Logreporter's summary
    %h2
    - items.each_pair do |month_year, daily_items|
      %h2= "Average rates for #{month_year.last}-#{month_year.first}"
      %table{:cellspacing => 0}
        %tbody
          %tr
            %th day
            - daily_items.each do |daily_item|
              - title = "Particular report for #{daily_item.year}.#{daily_item.month}.#{daily_item.day}"
              - href = "#{daily_item.year}#{"%02d" % daily_item.month}#{"%02d" % daily_item.day}"
              %th
                %a{:href => href + "_site.html", :title => title}
                  %span= daily_item.day
                &nbsp;
                %a{:href => href  + "_api.html", :title => title}
                  %span api
          %tr
            %td Number of requests
            - daily_items.each do |daily_item|
              %td.dayItemNoRequests{:"data-day" => [daily_item.data_site["date"].split(" ").first, "#{daily_item.day}.#{daily_item.month}.#{daily_item.year}"], :"data-value" => daily_item.data_site["no_of_requests"].round(3) }
                = daily_item.data_site["no_of_requests"]
          %tr
            %td.alt Request duration
            - daily_items.each do |daily_item|
              %td.alt.dayItemRequest{:"data-day" => [daily_item.data_site["date"].split(" ").first, "#{daily_item.day}.#{daily_item.month}.#{daily_item.year}"], :"data-value" => daily_item.data_site["duration_average"].round(3) }
                = "#{daily_item.data_site["duration_average"].round(2)}s"
          %tr
            %td View rendering duration
            - daily_items.each do |daily_item|
              %td.dayItemView{:"data-day" => [daily_item.data_site["date"].split(" ").first, "#{daily_item.day}.#{daily_item.month}.#{daily_item.year}"], :"data-value" => daily_item.data_site["view_average"].round(3) }
                = "#{daily_item.data_site["view_average"].round(2)}s"
          %tr
            %td.alt Database response duration
            - daily_items.each do |daily_item|
              %td.alt.dayItemDb{:"data-day" => [daily_item.data_site["date"].split(" ").first, "#{daily_item.day}.#{daily_item.month}.#{daily_item.year}"], :"data-value" => daily_item.data_site["db_average"].round(3) }
                = "#{daily_item.data_site["db_average"].round(2)}s"
          %tr
            %td Number of requests API
            - daily_items.each do |daily_item|
              %td.dayItemNoRequestsApi{:"data-day" => [daily_item.data_api["date"].split(" ").first, "#{daily_item.day}.#{daily_item.month}.#{daily_item.year}"], :"data-value" => daily_item.data_api["no_of_requests"].round(3) }
                = daily_item.data_api["no_of_requests"]
          %tr
            %td.alt Request duration API
            - daily_items.each do |daily_item|
              %td.alt.dayItemRequestApi{:"data-day" => [daily_item.data_api["date"].split(" ").first, "#{daily_item.day}.#{daily_item.month}.#{daily_item.year}"], :"data-value" => daily_item.data_api["duration_average"].round(3) }
                = "#{daily_item.data_api["duration_average"].round(2)}s"
          %tr
            %td View rendering duration API
            - daily_items.each do |daily_item|
              %td.dayItemViewApi{:"data-day" => [daily_item.data_api["date"].split(" ").first, "#{daily_item.day}.#{daily_item.month}.#{daily_item.year}"], :"data-value" => daily_item.data_api["view_average"].round(3) }
                = "#{daily_item.data_api["view_average"].round(2)}s"
          %tr
            %td.alt Database response duration API
            - daily_items.each do |daily_item|
              %td.alt.dayItemDbApi{:"data-day" => [daily_item.data_api["date"].split(" ").first, "#{daily_item.day}.#{daily_item.month}.#{daily_item.year}"], :"data-value" => daily_item.data_api["db_average"].round(3) }
                = "#{daily_item.data_api["db_average"].round(2)}s"
          %tr.hidden.combined
            %td.alt PlaceController#show
            - daily_items.each do |daily_item|
              %td.alt.dayItemConPlacesShow{:"data-day" => [daily_item.data_site["date"].split(" ").first, "#{daily_item.day}.#{daily_item.month}.#{daily_item.year}"], :"data-value" => daily_item.data_site["top_actions"][0]["results"].first["average_duration"].round(3) }
                = "#{daily_item.data_site["top_actions"][0]["results"].first["average_duration"].round(3)}s"
          %tr.hidden.combined
            %td.alt CategoriesController#show
            - daily_items.each do |daily_item|
              %td.alt.dayItemConCategoriesShow{:"data-day" => [daily_item.data_site["date"].split(" ").first, "#{daily_item.day}.#{daily_item.month}.#{daily_item.year}"], :"data-value" => daily_item.data_site["top_actions"][3]["results"].first["average_duration"].round(3) }
                = "#{ daily_item.data_site["top_actions"][3]["results"].first["average_duration"].round(3)}s"

    - {:NoRequests => "Number of requests per day", :Request => "Average request duration", :View => "Average view rendering time", :Db => "Average database response time", :NoRequestsApi => "Number of requests per day Api", :RequestApi => "Average request duration Api", :ViewApi => "Average view rendering time Api", :DbApi => "Average database response time Api", :Controllers => "Average request duration for selected actions"}.each_pair do |id, headline|
      %h2= headline
      %div{:class => "chart", :id => "chart#{id}", :style => "width:800px;height:300px;"}

