%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    :css
      body {
        font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        color: #4f6b72;
        background: #E6EAE9;
        padding-left:20px;
        padding-top:20px;
        padding-bottom:20px;
      }

      a {
        color: #c75f3e;
      }

      .color_bar {
        border: 1px solid;
        height:10px;
        background: #CAE8EA;
      }

      #mytable {
        width: 700px;
        padding: 0;
        margin: 0;
        padding-bottom:10px;
      }

      caption {
        padding: 0 0 5px 0;
        width: 700px;
        font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-align: right;
      }

      th {
        font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        color: #4f6b72;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        border-top: 1px solid #C1DAD7;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: left;
        padding: 6px 6px 6px 12px;
        background: #CAE8EA no-repeat;
      }

      td {
        font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        background: #fff;
        padding: 6px 6px 6px 12px;
        color: #4f6b72;
      }

      td.alt {
        background: #F5FAFA;
        color: #797268;
      }
  %body
    %h1 Logreporter's summary
    %div.today
      %h2 Request summary
      %table
        %tbody
          %tr
            %td Number of requests
            %td= no_of_requests
          %tr
            %td.alt Average request duration
            %td.alt= duration_average.round(2)
          %tr
            %td Average view rendering duration
            %td= view_average.round(2)
          %tr
            %td.alt Average database response duration
            %td.alt= db_average.round(2)
      %h2 Most requested
      %table{:cellspacing => 0}
        %tbody
          %tr
            %th action
            %th hits
            %th{:colspan => 2} percentage
          - most_requested.each_with_index do |x,i|
            - style = i.odd? ? 'alt' : nil
            - percentage = (x.request_id_count * 100 / no_of_requests)
            %tr
              %td{:class => style}= "#{x.controller}##{x.action}.#{x.format} [#{x.method}]"
              %td{:class => style}= x.request_id_count
              %td{:class => style}= "#{percentage.round(2)}%"
              %td{:class => style,:style=>"width:100px"}
                %div.color_bar{:style => "width:#{percentage.round}px"}
      %h2 Request durations
      - [:duration, :view, :db].each do |i|
        - [:longest_by_avg, :longest_by_sum].each do |by|
          - sort_type = by.to_s.split('_')[1,2].join(' ')
          %table{:cellspacing => 0}
            %tbody
              %tr
                %th= "Request duration - #{sort_type}"
                %th hits
                %th min
                %th max
                %th average
                %th sum
              - self.send(:"#{i}_#{by}").each_with_index do |x,y|
                - style = y.odd? ? 'alt' : nil
                %tr
                  %td{:class => style}= "#{x.controller}##{x.action}.#{x.format} [#{x.method}]"
                  %td{:class => style}= x.send(:"#{i}_hits")
                  %td{:class => style}= x.send(:"min_#{i}")
                  %td{:class => style}= x.send(:"max_#{i}").round(2)
                  %td{:class => style}= x.send(:"average_#{i}").round(2)
                  %td{:class => style}= x.send(:"sum_#{i}").round(2)
          %br
      %h2 Process Blockers (> 1 sec duration)
      %table{:cellspacing => 0}
        %tbody
          - blockers.each_with_index do |x,y|
            - style = y.odd? ? 'alt' : nil
            %tr
              %td{:class => style}= "#{x.controller}##{x.action}.#{x.format} [#{x.method}]"
              %td{:class => style}= x.duration_hits
              %td{:class => style}= "#{x.percentage}%"
              %td{:class => style, :style=> "width:100px;"}
                %div.color_bar{:style => "width:#{x.percentage.round}px"}
