%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %script{:language => "javascript", :type => "text/javascript", :src => "jquery-1.5.2.min.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "jquery.flot.min.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "report.js"}
    %link{:href => "report.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %h1= "Logreporter's summary for #{date.strftime('%Y.%m.%d')}"
    %div.today
      %h2 Request summary
      %table{:cellspacing => 0}
        %tbody
          %tr
            %td Number of requests
            %td= no_of_requests
          %tr
            %td.alt Average request duration
            %td.alt= duration_average.round(2)
          %tr
            %td Average view rendering duration
            %td= view_average.round(2)
          %tr
            %td.alt Average database response duration
            %td.alt= db_average.round(2)
      %h2 Statuses
      %table{:cellspacing => 0}
        %tbody
          %tr
            %th status
            %th average duration
            %th hits
            %th{:colspan => 2} hits percentage
          - statuses.each_with_index do |x,y|
            - style = y.odd? ? 'alt' : nil
            %tr
              %td{:class => style}= x['status']
              %td{:class => style}= "#{x['average_duration'].to_f.round(2)}s"
              %td{:class => style}= x['total_hits']
              - percentage = ((x['total_hits'].to_f / no_of_requests.to_f) * 100.0)
              %td{:class => style}= "#{percentage.round(2)}%"
              %td{:class => style, :style=> "width:100px;"}
                %div.color_bar{:style => "width:#{percentage.round}px"}
      %h2 Most requested
      %table{:cellspacing => 0}
        %tbody
          %tr
            %th action
            %th hits
            %th{:colspan => 2} percentage
          - most_requested.each_with_index do |x,i|
            - style = i.odd? ? 'alt' : nil
            - percentage = (x['request_id_count'].to_i * 100 / no_of_requests)
            %tr
              %td{:class => style}= "#{x['controller']}##{x['action']}.#{x['format']}"
              %td{:class => style}= x['request_id_count']
              %td{:class => style}= "#{percentage.round(2)}%"
              %td{:class => style,:style=>"width:100px"}
                %div.color_bar{:style => "width:#{percentage.round}px"}
      %h2 Request durations
      - titles = {:duration => 'Request duration', :view => 'View rendering time', :db => 'Database time'}
      - [:duration, :view, :db].each do |i|
        - title = titles[i]
        - [:longest_by_avg, :longest_by_sum].each do |by|
          - sort_type = by.to_s.split('_')[1,2].join(' ')
          %table{:cellspacing => 0, :class => by }
            %tbody
              %tr
                %th= "#{title} - #{sort_type}"
                %th hits
                %th min
                %th max
                %th average
                %th sum
              - self.send(:"#{i}_#{by}").each_with_index do |x,y|
                - style = y.odd? ? 'alt' : nil
                %tr
                  %td{:class => style}= "#{x['controller']}##{x['action']}"
                  %td{:class => style}= x["#{i}_hits"]
                  %td{:class => style}= "#{x["min_#{i}"].to_f.round(2)}s"
                  %td{:class => style}= "#{x["max_#{i}"].to_f.round(2)}s"
                  %td{:class => style}= "#{x["average_#{i}"].to_f.round(2)}s"
                  %td{:class => style}= "#{x["sum_#{i}"].to_f.round(2)}s"
          %br
      %h2 Process Blockers by Action (> 1 sec duration)
      %table{:cellspacing => 0}
        %tbody
          %tr
            %th action
            %th hits
            %th{:colspan => 2} percentage
          - blockers.each_with_index do |x,y|
            - style = y.odd? ? 'alt' : nil
            %tr
              %td{:class => style}= "#{x['controller']}##{x['action']}.#{x['format'].to_s.downcase}"
              %td{:class => style}= x['duration_hits']
              %td{:class => style}= "#{x['percentage']}%"
              %td{:class => style, :style=> "width:100px;"}
                %div.color_bar{:style => "width:#{x['percentage'].to_f.round}px"}
      %h2 Process Blockers by Path
      %table{:cellspacing => 0}
        %tbody
          %tr
            %th action
            %th duration
            %th hour
          - blocker_requests.each_with_index do |x,y|
            - style = y.odd? ? 'alt' : nil
            %tr
              %td{:class => style}= x['url']
              %td{:class => style}= x['duration']
              %td{:class => style}= "#{x['timestamp'].to_s[6..7]}:#{x['timestamp'].to_s[8..9]}:#{x['timestamp'].to_s[10..11]}"
      %h2 Some selected actions specifications
      %table{:cellspacing => 0}
        %tbody
          %tr
            %th Action
            %th Average duration
            %th Average database time
            %th Average view rendering time
          - top_actions.each_with_index do |top,i|
            - style = i.odd? ? 'alt' : nil
            - x = top['action'] 
            %tr
              %td{:class => style}= "#{x['controller']}##{x['action']}.#{x['format'].to_s.downcase}"
              %td{:class => style}= top['results'].first['average_duration'].to_f.round(2)
              %td{:class => style}= top['results'].first['average_db'].to_f.round(2)
              %td{:class => style}= top['results'].first['average_view'].to_f.round(2)
      %h2 Some selected actions Average Request Time distributed per hour
      %table#distribution{:cellspacing => 0}
        %tbody
          %tr
            %th Action
            - (0..23).each do |i|
              %th= "#{i.to_s.rjust(2,'0')}:00-#{i.to_s.rjust(2,'0')}:59"
          - top_actions_distribution.each_with_index do |top, i|
            - style = i.odd? ? 'alt' : nil
            - x = top['action'] 
            %tr{:class => ("distItem" if x['chart'])}
              %td{:class => style}= x['controller'].nil? ? ( !x['controller_group'].nil? ? "Api" : "All") : "#{x['controller']}##{x['action']}.#{x['format'].to_s.downcase}"
              - top['results'].each_with_index do |result, index|
                %td{:class => style,  :"data-value" => result.first['average_duration'].to_f.round(2), :"data-hour" => index.to_s.rjust(2,'0')}= result.first['average_duration'].to_f.round(2)
      %h2 Most valuable actions Total Hits distributed per hour
      %table{:cellspacing => 0}
        %tbody
          %tr
            %th Action
            - (0..23).each do |i|
              %th= "#{i.to_s.rjust(2,'0')}:00-#{i.to_s.rjust(2,'0')}:59"
          - top_actions_distribution.each_with_index do |top,i|
            - style = i.odd? ? 'alt' : nil
            - x = top['action']
            %tr
              %td{:class => style}= x['controller'].nil? ? ( !x['controller_group'].nil? ? "Api" : "All") : "#{x['controller']}##{x['action']}.#{x['format'].to_s.downcase}"
              - top['results'].each do |result|
                %td{:class => style}= result.first['total_hits'] || 0
      %br
      %h2 Most valuable actions Average Request Time distributed per hour - Graph
      %div{:class => "chart", :id => "chart", :style => "width:800px;height:300px;"}

